
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Lato:wght@400;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

*{

  margin: 0;
  padding: 0;
 
  font-family: 'Roboto', sans-serif;

}

body {

  --twitter-color : #50b7f5;
  --twitter-background: #e6ecf0;
}

.app{

  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;

}

/* 
    Side bar
*/

.sidebar{

  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  /* min-width: 250px; */
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebarOption{

  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption:hover {

  background-color: #e8f5f3;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
  
}

.sidebarOption > .MuiSvgIcon-root{


  padding: 20px;
  
}

.sidebarOption > h2 {


  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}


.sidebarOption--active{

  color: var(--twitter-color);
}


.sidebar__tweet{

  background-color: var(--twitter-color) !important;
  color: white !important;
  border: none !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;

}

.sidebar__twitterIcon{

  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}


/* 

    Home Page

*/

.feed{

  flex: 0.7;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;

}
/* Hides scroll bar for Chrome , Safari and Opera */

.feed::-webkit-scrollbar{

  display: none;
}


/* Hide scrollbar for IE ,Edge and firefox */

.feed{

  -ms-overflow-style: none;
  scrollbar-width: none;
}


.feed__header{

  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header > h2 {

  font-size: 20px;

}

.tweetBox{

  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {

  display: flex;
  flex-direction: column;
}

.tweetBox__input{

  padding: 20px;
  display: flex;
}

.tweetBox__input > input{
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;

}

.tweetBox__tweetButton{

  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900!important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left:  auto !important;




}

.tweetBox__imgInput{

  border: none;
  padding: 20px;
  outline: none;
}




/*  

    Widgets

*/


.widgets{

  flex: 0.3;
}

.widgets__input{

  display: flex;
  align-items: center;
  padding:10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: var(--twitter-background);


}

.widgets__input > input {

  border: none;
  outline: none;
  background-color: var(--twitter-background);
}

.widgets__searchIcon{

  color: gray;
}


.widgets__widgetContainer{


  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
  
}

.widgets__widgetContainer > h2 {

  font-size: 18px;
  font-weight: 800;

}


/* 

    Post 

*/

.post{

  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;

}

.post__body > img {

  border-radius: 20px;
  width: 100%;
  
  

}

.post__footer{

  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.post__badge{

  font-size: 14px !important;
  color: var(--twitter-color);

}

.post__headerSpecial{

  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText > h3 {


  font-size: 15px;
  margin-bottom: 5px;

}

.post__headerDescription {

  margin-bottom: 10px;
  font-size: 15px;

}

.post__body{

  flex: 1;
  padding: 10px;

}

.post__avatar{

  padding: 20px;
}


@media only screen and (max-width: 600px) {
  .widgets {

    display: none;
  }

  .sidebar{

    display: none;
  }

  .app{

    min-height: 100vh;
    overflow-x: hidden;
    padding: 12px;
  }
}
